*,html{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
 
  display: flex;
 
 
}
.navbar{
 min-height:100%;
  min-width:150px;
  background-color: #191718;
 position: sticky;
}
.list-item{
  position: fixed;
  top:0;
  left:0;
  width: 150px;;
}
.list-item>li {
  list-style: none;
  padding:14px 0 11px 16px;
  border-bottom: 1px solid #5C5C5C;
  color:#AAAAAA;
  font-size: 16px;
  font-weight: 700;
}
.list-item>li:hover{
  background-color: #5C5C5C;
}
.list-item>li:hover a{
  color:#fff;

}
.list-item>li>a{
  color:#AAAAAA;
  text-decoration: none;
}
.list-item li:first-child a{
  color:#fff;
}
.main{
  
  margin:20px 64px;
  
}
.logo{
  display: flex;
  justify-content: center;
}
.main__banner{
  background: #EFEFEF;
  margin-top: 30px;
  padding:38px 50px;
}
.main__banner h6{
  padding-bottom: 18px ;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}
.main__banner p{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.main__category{
  display: flex;
  justify-content: space-between;
  
  margin-top: 40px;
  gap:20px;
}
.main__category h6{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.main__category-item{
  display: inline-block;
}
.main__category-item img{
  float:left
}
.main__category-item h6{
  margin-bottom:16px;
}
.main__category-item p{
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}
.footer{
  margin-top: 65px;
  
}
.footer p{
  padding:30px 0;
}

@media screen and (max-width:1200px) {
  .main__category{
    flex-wrap: wrap;
  }
}
@media screen and (max-width:768px) {
  .main{
    margin:20px 35px ;
  }
  
}
@media screen and (max-width:654px) {
  .main{
    margin:20px  ;
  }
  .main__banner{
    padding:38px 20px;
  }
}
